/* Global */


body {
    background-color: #00CAFF;
    margin: 0;
    color: white;
}

.main_content {
    text-align: center;
}

/* Header */
.header_gallery {
    display: flex;
    align-items: center;
    background-color: #000E79;
    padding: 16px;
    font-size: 36px;
    gap: 8px;
}

/* Logo */
.header_logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Titel */


.header_gallery h1 {
    margin: 0;
}

h2 {
    margin: 30px 20px 30px 40px;

}



/* ------- Gallery styling ------- */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

/* Styling der Boxen, die die Bilder beinhalten */
.image-box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #000000;
    border-radius: 25%;
    transition: transform 1s;
}

/* Styling der Bilder innerhalb der Box */
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
}


/* Hover Effekt */

.image-box:hover {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #00F3FF;
    border-radius: 20%;
}

.image-box img:hover {
    transform: scale(1.5);
    cursor: pointer;
}


/* css vom Dialog */

.dialog_1 img {
    width: 400px;
    height: auto;
}

footer {
    background-color: #000E79;
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.footer_logo {
    width: 220px;
    height: 120px;
}