/* Global */

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    /* Hintergrundfarben */
    --background-color: #e4c79a;
    --background-color-2: #4A2A14;
    --dialog-bg: #FFE7D1;

    /* Textfarben */
    --gallery-text: #7A2E0E;
    --text-big: #FF7A1C;

    /* Rahmen & Akzente */
    --border-color: #FFB783;
    --border-highligt: #FF6600;

    /* Buttons */
    --button-bg: #FF7A1C;
    --button-text: #FFFFFF;
    --button-hover: #FF5500;
    --button-close: #CC3300;
    --button-close-hover: #AA2200;
}


html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
  }

body {
    background-color: var(--background-color);
    margin: 0;
    color: var(--gallery-text);
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main_content{
    flex: 1 0 auto;
}

h2 {
    margin: 30px 20px 30px 40px;
    font-size: 48px;
}

button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--button-hover);
}

.button_close {
    background-color: var(--button-close);
}

.button_close:hover {
    background-color: var(--button-close-hover);
}






